<div class="coupon">
  <div class="coupon-header" style="background: transparent url('/images/preview/audio.png') no-repeat center center; background-color: #d9d9d9; background-size: 30%!important;">
    <div class="header-title">
      <div class="coupon-title">
        <h3>{{ name }}</h3>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="coupon-content">
    <h4>{{ title }}</h4>
    <p>{{ description }}</p>
  </div>

  <div class="coupon-button">
    <a href="{{ button_link }}" class="button" style="background: #{{ button_background_color }}; color: #{{ button_font_color }};">
      {{ button_label }}
    </a>
  </div>
</div>
