<div class="coupon with-audio-button">
  <video width="100%" onclick="this.paused ? this.play() : this.pause();">
    <source src="<%= @coupon.video.url %>" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="header-title">
    <div class="coupon-title">
      <h3><%= @coupon.name %></h3>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="coupon-content">
    <h4><%= @coupon.title %></h4>
    <p><%= @coupon.description %></p>
  </div>
  <div class="coupon-button">
    <%= link_to @coupon.button_label, @coupon.button_link, class: %W[button],
          style: "background: ##{@coupon.button_background_color}; color: ##{@coupon.button_font_color};"
    %>
  </div>
</div>