<% content_for :header_breadcrumbs do %>
  <span><%= t('.title') %></span>
<% end %>

<div class="beacons-table linked-rows">

  <div class="table-header">
    <%= simple_form_for :search_table, method: :get, html: { class: %W[form-inline] } do |f| %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>

      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">
          <%= button_link :new, new_advertisment_path, class: %w[btn-success], i18n: 'advertisments.index' %>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 hidden batch-delete">
          <%= button_link :batch_delete, batch_delete_advertisments_path, class: %w[btn-danger], dynamic_width: true, with_modal: true %>
        </div>

        <div class="col-md-3 col-sm-8 col-xs-12 pull-right">
          <div class="has-feedback">
            <%= f.input :advertisment_name,
                        label: false,
                        advertismentholder: t(".search"),
                        required: false,
                        input_html: {
                            name: "advertisment_name",
                            value: params[:advertisment_name],
                            class: %W[ sortable_table_search_field ]
                        }
            %>
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <table class="table table-list table-striped">
    <thead>
      <tr>
        <th colspan="2" class="select-all-checkbox">
          <% if @advertisments.present? %>
            <div class="custom-checkbox">
              <input type="checkbox" id="select_all" class="checkbox" value="select_all" />
              <label for="select_all"></label>
            </div>
          <% end %>
        </th>
        <th class="sortable"><%= sortable "advertisments.name", Advertisment.human_attribute_name(:name) %></th>
        <th><%= Advertisment.human_attribute_name(:image) %></th>
        <th class="sortable"><%= sortable "advertisments.start_date", Advertisment.human_attribute_name(:start_date) %></th>
        <th class="sortable"><%= sortable "advertisments.end_date", Advertisment.human_attribute_name(:end_date) %></th>
        <th><%= t('.details') %></th>
      </tr>
    </thead>
    <tbody>
      <% @advertisments.each do |advertisment| %>
        <tr>
          <td class="zone-mark disable-select" style="background: transparent"></td>
          <td class="with-checkbox">
            <div class="custom-checkbox">
              <input type="checkbox" id='<%="advertisment_#{advertisment.id}"%>' value=<%= advertisment.id %> name="advertisment_ids[]" class="checkbox value-checkbox" />
              <label for="<%="advertisment_#{advertisment.id}"%>"></label>
            </div>
          </td>
          <td><%= truncate(advertisment.name, length: 30) %></td>
          <td class="advertisment_image">
            <%= image_tag advertisment.image.url(:thumb), class: 'img-responsive' %>
          </td>
          <td class="advertisment_start_date">
            <%= advertisment.start_date %>
          </td>
          <td class="advertisment_end_date">
            <%= advertisment.end_date %>
          </td>
          <td class="disable-select">
            <%= button_link :edit, edit_advertisment_path(advertisment), dynamic_width: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="padding-left: 15px;">
    <%= paginate @advertisments %>
  </div>
</div>

<%= prompt_modal(t('advertisments.modal.title'), t('advertisments.modal.body')) %>

<style type="text/css">
  .search_table_advertisment_name {
    width: 100%;
  }
</style>