<%= simple_form_for(@home_slider, html: { class: %W[place-form with-sticky-footer validation-extension] }) do |f| %>
  <div class="row form-container">
    <div class="col-md-6 first-column">
      <div class="control-group">
        <div class="controls">
          <%= f.input :name, input_html: { data: { required: true } } %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :start_date, as: :string, class: "datepicker form-control", input_html: { data: { required: true } } %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :end_date, as: :string, class: "datepicker form-control", input_html: { data: { required: true } } %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :slider1 %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :slider2 %>
        </div>
      </div>
    </div>
    <div class="col-md-6 second-column">
      <div class="image-preview slider1">
        <%= image_tag @home_slider.slider1_url, class: 'img-responsive center-block' %>
      </div>
      <hr>
      <div class="image-preview slider2">
        <%= image_tag @home_slider.slider2_url, class: 'img-responsive center-block' %>
      </div>
    </div>
  </div>

  <div class="row actions-row sticky-footer">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= button_link :cancel, home_sliders_path %>
        <%= f.button :submit, t('.save'), class: %w[btn btn-success btn-static-width btn-action-save] %>
      </div>
    </div>
  </div>
<% end %>

<style type="text/css">
  .validation-extension .form-group input + span.help-inline {
    display: block !important;
  }
  @media (min-width: 992px) {
    .image-preview img {
      max-width: 50%;
    }
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('#home_slider_start_date').datepicker({
      dateFormat: "yy-mm-dd"
    });

    $('#home_slider_end_date').datepicker({
      dateFormat: "yy-mm-dd"
    });

    $("#home_slider_slider1").change(function(){
      input = this;
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('.image-preview.slider1 img').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    });

    $("#home_slider_slider2").change(function(){
      input = this;
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('.image-preview.slider2 img').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    });
  });
</script>

