<div class="tab-space tab-manager event-publisher" data-init="true">
    <%= simple_form_for @geofence,
                             html: {
                                 class: %W[
                                  validation-extension
                                  with-sticky-footer
                                  tabbed-form
                                  beacon-#{edit? ? 'edit' : 'new'}
                                 ],
                                   novalidate: false,
                                   wrapper: :horizontal_form
                             } do |f| %>
    <div class="row form-container">
      <div class="col-md-6">
        <%= f.input :name, input_html: { data: { required: true } }%>
        <div class="form-group">
          <%= f.simple_fields_for :enter_action do |a| %>
            <label class="control-label">Enter Action</label>
            <%= a.check_box :active, class: "geofence" %>

						<div class="action-details disabled">
              <%= a.hidden_field :geofence_id %>
              <%= a.select :name, [['Pushbenachrichtigung', 'Pushbenachrichtigung']], {}, { class: 'form-control', disabled: @geofence.enter_action.active ? 'disabled' : '' } %>
              <%= a.text_area :message, placeholder: 'Push message', class: 'form-control', disabled: @geofence.enter_action.active ? 'disabled' : '', rows: 12, input_html: { data: { required: true } } %>
						</div>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.simple_fields_for :exit_action do |a| %>
            <label class="control-label">Exit Action</label>
            <%= a.check_box :active, class: "geofence" %>
						<div class="action-details">
              <%= a.select :name, [['Pushbenachrichtigung', 'Pushbenachrichtigung']], {}, { class: 'form-control', disabled: @geofence.exit_action.active ? 'disabled' : '' } %>
              <%= a.text_area :message, placeholder: 'Push message', class: 'form-control', disabled: @geofence.exit_action.active ? 'disabled' : '', rows: 12, input_html: { data: { required: true } } %>
						</div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="geofence-map"></div>
        <div id="slider"></div>

        <%= f.input :radius, input_html: { data: { required: true }, min: 10, max: 50000 }%>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :longtitude, input_html: { data: { required: true } }%>
          </div>
          <div class="col-md-6">
            <%= f.input :latitude, input_html: { data: { required: true } }%>
          </div>
        </div>
      </div>
    </div>

    <%# Footer %>
    <div id="beacon-action-footer" class="row actions-row sticky-footer">
      <% if @geofence.persisted? %>
        <div class="col-xs-6">
          <div class="pull-left">
            <%= button_link :delete_nice,
                            geofence_path(@geofence),
                            class: %w[btn btn-danger],
                            with_modal: true,
                            dynamic_width: true
            %>
          </div>
        </div>
      <% end %>

      <% if @geofence.persisted? %>
        <div class="col-xs-6 modify-beacon-actions">
          <div class="pull-right">
            <%= button_link :cancel, geofences_path %>
            <%= f.button :submit, t('.save'),
                         class: %w[btn-success btn btn-static-width-medium btn-action-save]
            %>
          </div>
        </div>
      <% else %>
        <div class="col-xs-12 " id="footer-right" >
          <div class="pull-right">
            <%= button_link :cancel,
                            geofences_path,
                            class: 'modify-beacon-actions'
            %>
            <%= f.button :submit,
                         t('.save'),
                         class: %w[btn-success btn btn-static-width-medium btn-action-save modify-beacon-actions event-subscriber],
                         data: {
                             publisher: '#beacon-tabs',
                             action: 'show',
                             match: 'last'
                         }
            %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= prompt_modal(t('geofences.modal.title'), t('geofences.modal.body')) %>
