<%= simple_form_for(@notification, html: { class: %W[notification-form with-sticky-footer] }) do |f| %>
  <% if @notification.errors[:fcm].present? %>
    <div class="alert alert-warning" role="alert">
      <p><%= @notification.errors[:fcm].first %></p>
    </div>
  <% end %>
  <div class="row form-container">
    <div class="col-md-6 first-column">
      <div class="control-group">
        <div class="controls">
          <%= f.association(:application, collection: current_admin.account.applications, include_blank: false, class: 'form-control') %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :title, required: false %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :message, input_html: { rows: 4 } %>
        </div>
      </div>
    </div>
  </div>

  <div class="row actions-row sticky-footer">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= button_link :cancel, notifications_path %>
        <%= f.button :submit, t('.send'), class: %w[btn btn-success btn-static-width btn-action-save] %>
      </div>
    </div>
  </div>
<% end %>
