<% content_for :header_breadcrumbs do %>
  <span><%= t('.title') %></span>
<% end %>
<div class="beacons-table">

  <div class="table-header">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">
          <%= button_link :new, new_notification_path, class: %w[btn-success] %>
        </div>
      </div>
  </div>

  <table class="table table-list table-striped live-search-table" data-search-input="#search_table_beacon_name">
    <thead>
      <tr>
        <th><%= Notification.human_attribute_name(:application) %></th>
        <th><%= Notification.human_attribute_name(:title) %></th>
        <th><%= Notification.human_attribute_name(:message) %></th>
        <th><%= Notification.human_attribute_name(:created_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.application.name %></td>
          <td><%= notification.title %></td>
          <td><%= notification.message %></td>
          <td><%= notification.created_at.to_formatted_s(:two_digits) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

