<div class="tab-space tab-manager event-publisher" data-init="true">
  <%= simple_form_for @schedule, html: { class: %W[edit_activity with-sticky-footer] } do |f| %>

  <%= render partial: "activities/scheme/coupon", locals: { f: f } %>

  <div class="row form-container">

    <div class="col-md-6 first-column">
      <div class='form-group'>
        <label class="control-label">Beacon Zuordnung</label>
        <%= f.select :beacon_id, current_admin.account.beacons.collect {|p| [ p.name, p.id ] }, {}, { class: 'form-control' } %>
      </div>

      <div class='form-group'>
        <%= f.input :name, required: true %>
      </div>

      <div class='form-group'>
        <label class="control-label">Zeiten</label>
				<div>
					<%=
            f.collection_radio_buttons(
              :kind,
              [[1, 'Zeitraum'], [2, 'Zeitpunkt']],
              :first, :last, { item_wrapper_tag: false, checked: @schedule.kind  }) do |b|
							b.label(:"data-value" => b.value, class:'radio-inline') { b.radio_button + b.text }
						end
					%>
				</div>
      </div>

      <div class='hidden datetime-fields'>
        <%= f.input :start_date, require: true, as: :hidden %>
        <%= f.input :end_date, require: true, as: :hidden %>
        <%= f.input :start_time, require: true, as: :hidden %>
        <%= f.input :end_time, require: true, as: :hidden %>
      </div>

      <div class='period row <%= @schedule.kind == 2 ? 'hidden' : ''  %>'>
        <div class='col-md-6 form-group'>
          <label class="control-label">Von</label>
          <div class='input-group date' id='von'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <p class="form-control-feedback">can't be blank</p>
        </div>
        <div class='col-md-6 form-group'>
          <label class="control-label">Bis</label>
          <div class='input-group date' id='bis'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <p class="form-control-feedback">can't be blank</p>
        </div>
      </div>
      <div class='period row <%= @schedule.kind == 2 ? 'hidden' : ''  %>'>
        <div class='col-md-6 form-group'>
          <label class="control-label">Start</label>
          <div class='input-group date' id='start_time'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
          <p class="form-control-feedback">can't be blank</p>
        </div>
        <div class='col-md-6 form-group'>
          <label class="control-label">Ende</label>
          <div class='input-group date' id='end_time'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
        </div>
      </div>

      <div class='on-time row <%= @schedule.kind == 1 ? 'hidden' : ''  %>'>
        <div class='col-md-6 form-group'> <label class="control-label">Datum</label>
          <div class='input-group date' id='datum'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          <p class="form-control-feedback">can't be blank</p>
        </div>
        <div class='col-md-6 form-group'>
          <label class="control-label">Start</label>
          <div class='input-group date' id='ontime-start'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <p class="form-control-feedback">can't be blank</p>
          </div>

          <label class="control-label">Dauer in Stunden</label>
          <div id="ontime-duration" data-duration="<%= @schedule.duration_in_hours %>"></div>
          <span class="min-duration">1</span>
          <span class="max-duration">3</span>
        </div>
      </div>

      <div class='form-group trigger-time'>
        <label class="control-label">Start der Aktion</label>
				<div class="radio">
          <label data-value="Sofort" for="sofort">
            <input type="radio" name='trigger' value="Sofort" id="sofort" name="trigger_type">Sofort
          </label>
          <label data-value="Nach x Minuten" for="nach_x_minuten">
            <input type="radio" name='trigger' value="nach_x_minuten" id="nach_x_minuten" name="trigger_type">Nach x Minuten
            <%= f.input :trigger_time, require: true, disabled: @schedule.trigger_time == 0, label: false, wrapper: false %>
          </label>
				</div>
      </div>

      <h2 class='schedule'><%= t("schedules.template") %></h2>
      <%= content_for :scheme_content_left %>
    </div>

    <div class="col-md-6 second-column">
      <%= content_for :scheme_content_right %>
    </div>
  </div>

  <%# Footer %>
    <div id="beacon-action-footer" class="row actions-row sticky-footer">
      <% if @schedule.persisted? %>
        <div class="col-xs-6">
          <div class="pull-left">
            <%= button_link :delete_nice, schedule_path(@schedule), class: %w[btn btn-danger], with_modal: true, dynamic_width: true%>
          </div>
        </div>
      <% end %>

      <% if @schedule.persisted? %>
        <div class="col-xs-6 modify-beacon-actions">
          <div class="pull-right">
            <%= button_link :cancel, schedules_path %>
            <%= f.button :submit, t('.save'),
                         class: %w[btn-success btn btn-static-width-medium btn-action-save]
            %>
          </div>
        </div>
      <% else %>
        <div class="col-xs-12 " id="footer-right" >
          <div class="pull-right">
            <%= button_link :cancel,
                            schedules_path,
                            class: 'modify-beacon-actions'
            %>
            <%= f.button :submit,
                         t('.save'),
                         class: %w[btn-success btn btn-static-width-medium btn-action-save modify-beacon-actions event-subscriber],
                         data: {
                             publisher: '#beacon-tabs',
                             action: 'show',
                             match: 'last'
                         }
            %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= prompt_modal(t('schedules.modal.title'), t('schedules.modal.body')) %>
