<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<% content_for :header_breadcrumbs do %>
  <span><%= t('.title') %></span>
<% end %>

<div class="beacons-table linked-rows">

  <div class="table-header">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <%= button_link :add_new, new_schedule_path, class: %w[btn-success], i18n: 'geofences.index' %>
      </div>
    </div>
  </div>

  <table class="table table-list table-striped live-search-table" data-search-input="#search_table_beacon_name">
    <thead>
      <tr>
        <th class="sortable"><%= Schedule.human_attribute_name(:name) %></th>
        <th class="sortable"><%= Schedule.human_attribute_name(:beacon) %></th>
        <th class="sortable">Typ</th>
        <th class="sortable">Startdatum</th>
        <th class="sortable">Enddatum</th>
        <th class="sortable">Dauer</th>
        <th class="sortable"><%= Schedule.human_attribute_name(:template) %></th>
        <th><%= t('.details') %></th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
          <tr>
            <td><%= truncate(schedule.name, length: 30) %></td>
            <td><%= truncate(schedule.beacon.name, length: 30) %></td>
            <td><%= truncate(schedule.kind_name, length: 30) %></td>
            <td><%= schedule.start_date.strftime('%d.%m.%Y') %></td>
            <td><%= schedule.end_date.try(:strftime, '%d.%m.%Y') %></td>
            <td><%= schedule.duration %></td>
            <td><%= truncate(I18n.t('templates')[schedule.coupon.template.to_sym], length: 30) %></td>
            <td class="disable-select">
              <%= button_link :edit, edit_schedule_path(schedule), dynamic_width: true %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= prompt_modal(t('schedules.modal.title'), t('schedules.modal.body')) %>
