<%= form.simple_fields_for object_name do |attachment| %>
  <%= attachment.label :file %>
  <%= attachment.input :type, as: :hidden, input_html: { vale: object_name.to_s } %>
  <%= attachment.hidden_field :file_cache %>
  <%= attachment.hidden_field :remove_file, {value: false} %>
  <div class="fileinput <%= attachment.object.file.present? ? 'fileinput-exists' : 'fileinput-new' %> input-group" data-provides="fileinput">
    <div class="form-control" data-trigger="fileinput">
      <div class="attachment-thumbnail thumbnail" style="max-width: 50px; max-height: 35px;">
        <%= image_tag attachment.object.thumb_url, style: 'max-height: 25px;border: none;' %>
      </div>
    <span class="fileinput-filename" style="line-height: 40px;">
      <% if attachment.object.file.present? %>
        <%= attachment.object.filename %>
      <% end %>
    </span>
    </div>

    <%= content_tag :span, class: button_class('input-group-addon', 'btn-file', action: :new) do %>
      <span class="fileinput-new"><%= t('.select') %></span>
      <%= content_tag :span, class: %w(fileinput-exists) do %>
        <%= t('.change') %>
      <% end %>
      <%= attachment.file_field :file,
                           data: {
                               name: object_name.to_s,
                               cache_url: attachment.object.file.url
                           },
                           class: button_class(action: :new)
      %>
    <% end %>
    <%= button_link(
            :remove, '#',
            class: %W[input-group-addon fileinput-exists],
            data: {
                dismiss: 'fileinput'
            },
            dynamic_width: true
        )
    %>
  </div>
<% end %>
