<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<% content_for :header_breadcrumbs do %>
  <span><%= t('.title') %></span>
<% end %>

<div class="beacons-table linked-rows">
  <div class="table-header">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <button class="add-customer btn btn-success">ADD CUSTOMER</button>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12 hidden batch-delete">
        <%= button_link :batch_delete, batch_delete_customers_path, class: %w[btn-danger], dynamic_width: true, with_modal: true %>
      </div>
      <div class="col-md-3 col-sm-8 col-xs-12 pull-right">
        <div class="has-feedback">
          <div class="form-group string optional search_table_customer_email pull-right">
            <input name="customer_email" value="" class="string optional form-control sortable_table_search_field" placeholder="Search..." type="text" id="search_table_geofence_name">
          </div>
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
      </div>
    </div>
    <%= render "customers/form" %>
  </div>
  <div class="table-header">
    <table class="table table-list table-striped live-search-table" data-search-input="#search_table_beacon_name">
      <thead>
        <tr>
          <th colspan="2" class="select-all-checkbox">
            <% if @customers.present? %>
              <div class="custom-checkbox">
                <input type="checkbox" id="select_all" class="checkbox" value="select_all" />
                <label for="select_all"></label>
              </div>
            <% end %>
          </th>
          <th>Kundenname</th>
          <th>Telefon</th>
          <th>E-Mail</th>
          <th>Benutzername</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Passwort zurücksetzen</th>
          <th class="text-center">Löchen</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<%= prompt_modal(t('customers.modal.title'), t('customers.modal.body')) %>
<%= prompt_modal(t('customers.modal.title'), t('customers.reset_password.body'), 'shared/reset_password_modal') %>
