<div class="tab-space tab-manager event-publisher" data-init="true">
    <%= simple_form_for @toilet,
                             html: {
                                 class: %W[
                                  validation-extension
                                  with-sticky-footer
                                  tabbed-form
                                  beacon-#{edit? ? 'edit' : 'new'}
                                 ],
                                   novalidate: false,
                                   wrapper: :horizontal_form
                             } do |f| %>
    <div class="row form-container">
      <div class="col-md-12">
        <%= f.input :name, input_html: { data: { required: true } }%>

        <div class="row">
          <div class="col-md-12 form-group">
            <label>Type</label>
            <div>
              <%= f.collection_radio_buttons(:kind, Toilet::KINDS.each_with_index.map { |k,i| [i, k] }, :first, :last, { checked: @toilet.kind ? 0 : toilet.kind }) do |b| %>
                <span class="radio-inline">
                  <%= b.label do %>
                    <%= b.radio_button + b.text %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <label>Accessible</label>
            <div>
              <%= f.collection_radio_buttons(:accessible, Toilet::ACCESSIBLES.each_with_index.map { |k,i| [i, k] }, :first, :last) do |b| %>
                <span class="radio-inline">
                  <%= b.label do %>
                    <%= b.radio_button + b.text %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <%= f.input :description, as: :text, input_html: { rows: 10 } %>

        <%= f.simple_fields_for :address do |a| %>
          <div class="row">
            <div class="col-md-4">
              <%= a.input :street %>
            </div>
            <div class="col-md-4">
              <%= a.input :zip %>
            </div>
            <div class="col-md-4">
              <%= a.input :city %>
            </div>
            <div class="col-md-6">
              <%= a.input :longtitude, input_html: { data: { required: true }, class: 'longtitude' }%>
            </div>
            <div class="col-md-6">
              <%= a.input :latitude, input_html: { data: { required: true }, class: 'latitude' }%>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%# Footer %>
    <div id="beacon-action-footer" class="row actions-row sticky-footer">
      <% if @toilet.persisted? %>
        <div class="col-xs-6">
          <div class="pull-left">
            <%= button_link :delete_nice,
                            toilet_path(@toilet),
                            class: %w[btn btn-danger],
                            with_modal: true,
                            dynamic_width: true
            %>
          </div>
        </div>
      <% end %>

      <% if @toilet.persisted? %>
        <div class="col-xs-6 modify-beacon-actions">
          <div class="pull-right">
            <%= button_link :cancel, toilets_path %>
            <%= f.button :submit, t('.save'),
                         class: %w[btn-success btn btn-static-width-medium btn-action-save]
            %>
          </div>
        </div>
      <% else %>
        <div class="col-xs-12 " id="footer-right" >
          <div class="pull-right">
            <%= button_link :cancel,
                            toilets_path,
                            class: 'modify-beacon-actions'
            %>
            <%= f.button :submit,
                         t('.save'),
                         class: %w[btn-success btn btn-static-width-medium btn-action-save modify-beacon-actions event-subscriber],
                         data: {
                             publisher: '#beacon-tabs',
                             action: 'show',
                             match: 'last'
                         }
            %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= prompt_modal(t('toilets.modal.title'), t('toilets.modal.body')) %>
