<div class="tab-space tab-manager event-publisher" data-init="true">
    <%= simple_form_for @bus_stop,
                             html: {
                                 class: %W[
                                  validation-extension
                                  with-sticky-footer
                                  tabbed-form
                                  beacon-#{edit? ? 'edit' : 'new'}
                                 ],
                                   novalidate: false,
                                   wrapper: :horizontal_form
                             } do |f| %>
    <div class="row form-container">
      <div class="col-md-6">
        <%= f.input :name, input_html: { data: { required: true } }%>
      </div>
      <div class="col-md-6">
        <div id="map"></div>
        <div id="slider"></div>

        <%= f.input :radius, input_html: { data: { required: true, default_value: 20 }, min: 1, max: 1000, class: 'radius' }%>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :longtitude, input_html: { data: { required: true }, class: 'longtitude' }%>
          </div>
          <div class="col-md-6">
            <%= f.input :latitude, input_html: { data: { required: true }, class: 'latitude' }%>
          </div>
        </div>
      </div>
    </div>

    <%# Footer %>
    <div id="beacon-action-footer" class="row actions-row sticky-footer">
      <% if @bus_stop.persisted? %>
        <div class="col-xs-6">
          <div class="pull-left">
            <%= button_link :delete_nice,
                            bus_stop_path(@bus_stop),
                            class: %w[btn btn-danger],
                            with_modal: true,
                            dynamic_width: true
            %>
          </div>
        </div>
      <% end %>

      <% if @bus_stop.persisted? %>
        <div class="col-xs-6 modify-beacon-actions">
          <div class="pull-right">
            <%= button_link :cancel, bus_stops_path %>
            <%= f.button :submit, t('.save'),
                         class: %w[btn-success btn btn-static-width-medium btn-action-save]
            %>
          </div>
        </div>
      <% else %>
        <div class="col-xs-12 " id="footer-right" >
          <div class="pull-right">
            <%= button_link :cancel,
                            bus_stops_path,
                            class: 'modify-beacon-actions'
            %>
            <%= f.button :submit,
                         t('.save'),
                         class: %w[btn-success btn btn-static-width-medium btn-action-save modify-beacon-actions event-subscriber],
                         data: {
                             publisher: '#beacon-tabs',
                             action: 'show',
                             match: 'last'
                         }
            %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= prompt_modal(t('bus_stops.modal.title'), t('bus_stops.modal.body')) %>
