<%###
# Copyright (c) 2015, Upnext Technologies Sp. z o.o.
# All rights reserved.
#
# This source code is licensed under the BSD 3-Clause License found in the
# LICENSE.txt file in the root directory of this source tree. 
###%>

<% content_for :header_breadcrumbs do %>
  <span><%= t('.title') %></span>
<% end %>

<div class="beacons-table linked-rows">

  <div class="table-header">
    <%= simple_form_for :search_table, method: :get, html: { class: %W[form-inline] } do |f| %>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">
          <%= button_link :add_new, new_bus_stop_path, class: %w[btn-success], i18n: 'bus_stops.index' %>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 hidden batch-delete">
          <%= button_link :batch_delete, batch_delete_bus_stops_path, class: %w[btn-danger], dynamic_width: true, with_modal: true %>
        </div>
        <div class="col-md-3 col-sm-8 col-xs-12 pull-right">
          <div class="has-feedback">
            <%= f.input :bus_stop_name,
                        label: false,
                        placeholder: t(".search"),
                        required: false,
                        input_html: {
                            name: "bus_stop_name",
                            value: params[:bus_stop_name],
                            class: %W[ sortable_table_search_field ]
                        },
                        wrapper_html: { class: 'pull-right' }
            %>
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <table class="table table-list table-striped live-search-table" data-search-input="#search_table_beacon_name">
    <thead>
      <tr>
        <th colspan="2" class="select-all-checkbox">
          <% if @bus_stops.present? %>
            <div class="custom-checkbox">
              <input type="checkbox" id="select_all" class="checkbox" value="select_all" />
              <label for="select_all"></label>
            </div>
          <% end %>
        </th>
        <th class="sortable"><%= sortable "bus_stops.name", BusStop.human_attribute_name(:name) %></th>
        <th class="sortable"><%= t('.lng') %></th>
        <th class="sortable"><%= t('.lat') %></th>
        <th><%= t('.details') %></th>
      </tr>
    </thead>
    <tbody>
      <% @bus_stops.each do |bus_stop| %>
          <tr>
            <td class="zone-mark disable-select" style="background: transparent"></td>
            <td class="with-checkbox">
              <div class="custom-checkbox">
                <input type="checkbox" id='<%="bus_stop_#{bus_stop.id}"%>' value=<%= bus_stop.id %> name="bus_stop_ids[]" class="checkbox value-checkbox" />
                <label for="<%="bus_stop_#{bus_stop.id}"%>"></label>
              </div>
            </td>
            <td><%= truncate(bus_stop.name, length: 30) %></td>
            <td class="bus_stop_longtitude">
              <%= bus_stop.longtitude %>
            </td>
            <td class="bus_stop_latitude">
              <%= bus_stop.latitude %>
            </td>
            <td class="disable-select">
              <%= button_link :edit, edit_bus_stop_path(bus_stop), dynamic_width: true %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= prompt_modal(t('bus_stops.modal.title'), t('bus_stops.modal.body')) %>
