<%= simple_form_for(@place.becomes(Place), html: { class: %W[place-form with-sticky-footer validation-extension] }) do |f| %>
  <div class="row form-container">
    <div class="col-md-6 first-column">
      <div class="control-group">
        <div class="controls">
          <%= f.input :type, collection: [['Museum', 'Museum'], ['Restaurant', 'Restaurant'], ['Point Of Interest', 'PointOfInterest']], default: 'Museum', required: true %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :name, input_html: { data: { required: true } } %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :address, input_html: { data: { required: true } } %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :zip_code, input_html: { data: { required: true } } %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
        <%= f.input :city, input_html: { data: { required: true } } %>
        </div>
      </div>
      <div class="control-group" id="entrance_wrapper" style="<%= 'display: none' if @place.type == 'Restaurant' %>">
        <div class="controls">
          <%= f.input :entrance, input_html: { rows: 4 } %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :has_opening_hours, label: 'Opening hours' %>
        </div>
        <div class="controls" id="opening_hours_wrapper" style="<%= 'display: none' unless @place.has_opening_hours %>" >
          <%= f.input :opening_hours, input_html: { rows: 4 }, label: false %>
        </div>
      </div>
    </div>
    <div class="col-md-6 second-column">
      <div class="control-group">
        <div class="controls">
          <%= f.input :website %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :phone %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.input :email %>
        </div>
      </div>
    </div>
  </div>

  <div class="row actions-row sticky-footer">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= button_link :cancel, places_path %>
        <%= f.button :submit, t('.save'), class: %w[btn btn-success btn-static-width btn-action-save] %>
      </div>
    </div>
  </div>
<% end %>

<style type="text/css">
  label.checkbox[for="place_has_opening_hours"] {
    display: none;
  }
</style>

<script type="text/javascript">
  $("#place_has_opening_hours").bootstrapSwitch({
    onSwitchChange: function(event, state) {
      $("#opening_hours_wrapper").toggle(state);
    }
  });
  $("#place_type").on('change', function(){
    var isEntranceRequired = $(this).val() != 'Restaurant';
    $("#entrance_wrapper").toggle(isEntranceRequired);
  });
</script>