<% content_for :header_breadcrumbs do %>
  <span><%= t('.title') %></span>
<% end %>

<div class="beacons-table linked-rows">

  <div class="table-header">
    <%= simple_form_for :search_table, method: :get, html: { class: %W[form-inline] } do |f| %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>

      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">
          <%= button_link :new, new_place_path, class: %w[btn-success], i18n: 'places.index' %>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 hidden batch-delete">
          <%= button_link :batch_delete, batch_delete_places_path, class: %w[btn-danger], dynamic_width: true, with_modal: true %>
        </div>

        <div class="col-md-3 col-sm-8 col-xs-12 pull-right">
          <div class="has-feedback">
            <%= f.input :place_name,
                        label: false,
                        placeholder: t(".search"),
                        required: false,
                        input_html: {
                            name: "place_name",
                            value: params[:place_name],
                            class: %W[ sortable_table_search_field ]
                        }
            %>
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <table class="table table-list table-striped">
    <thead>
      <tr>
        <th colspan="2" class="select-all-checkbox">
          <% if @places.present? %>
            <div class="custom-checkbox">
              <input type="checkbox" id="select_all" class="checkbox" value="select_all" />
              <label for="select_all"></label>
            </div>
          <% end %>
        </th>
        <th class="sortable"><%= sortable "places.name", Place.human_attribute_name(:name) %></th>
        <th class="sortable"><%= sortable "places.address", Place.human_attribute_name(:address) %></th>
        <th class="sortable"><%= sortable "places.phone", Place.human_attribute_name(:phone) %></th>
        <th><%= t('.details') %></th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td class="zone-mark disable-select" style="background: transparent"></td>
          <td class="with-checkbox">
            <div class="custom-checkbox">
              <input type="checkbox" id='<%="place_#{place.id}"%>' value=<%= place.id %> name="place_ids[]" class="checkbox value-checkbox" />
              <label for="<%="place_#{place.id}"%>"></label>
            </div>
          </td>
          <td><%= truncate(place.name, length: 30) %></td>
          <td class="place_address">
            <%= place.full_address %>
          </td>
          <td class="place_city">
            <%= place.phone %>
          </td>
          <td class="disable-select">
            <%= button_link :edit, edit_place_path(place), dynamic_width: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="padding-left: 15px;">
    <%= paginate @places %>
  </div>
</div>

<%= prompt_modal(t('places.modal.title'), t('places.modal.body')) %>

<style type="text/css">
  .search_table_place_name {
    width: 100%;
  }
</style>