<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @place.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @place.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Opening hours:</strong>
  <%= @place.opening_hours %>
</p>

<p>
  <strong>Has opening hours:</strong>
  <%= @place.has_opening_hours %>
</p>

<p>
  <strong>Entrance:</strong>
  <%= @place.entrance %>
</p>

<p>
  <strong>Website:</strong>
  <%= @place.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @place.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @place.email %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
